*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("bg2.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}
body::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2874f0;
    opacity: 0.8;
    z-index: -1;
}
.container{
    position: absolute;
    width: 650px;
    height: 400px;
    background-color: white;
    border: 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    box-shadow: -9px 9px 20px #132e61;
    padding: 0px;
}
.img{
    width: 100%;
    height: 100%;
    background-color: #2874f0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
}
.img img{
    width: 100%;
    height: 80%;
    border-bottom-left-radius: 15px;
}
.form{
    width: 100%;
    height: 100%;
}
.img h3{
    margin: 40px 0 7px 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.img h5{
    font-size: 10px;
    margin: 0px 13px 1px 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.form h3{
    margin: 40px 0 7px 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.form h5{
    font-size: 10px;
    margin: 0px 13px 1px 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #aebfdb;
}
.details{   
    width: 260px;
    height: 34px;
    margin: 8px 32px;
    border: 1px solid #aebfdb;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
}
::placeholder{
    color: #aebfdb;
}
.submit {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    font-size: 10px;
    font-weight: 500;
    background-color: #296be6;
    color: white;
    margin: 10px 103px;
    border: none;
    box-shadow: 2px 5px 9px 0px #aebfdb;
}
.submit:hover{
    font-weight: 500;
    background-color: white;
    border: 1px solid #296be6;
    color: #296be6;
}